.button {
    display: flex;
    align-items: center;
    padding: 0 41px;
    height: 48px;
    border: 0;
    border-radius: 4px;
    outline-color: yellow;
    &__text {
        * + & {
            margin-left: 10px;
        }
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }
}