@import "../../variables";

.button {
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 48px;
    border: 0;
    border-radius: 4px;
    outline-color: yellow;
    color: #000000;

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__text {
        * + & {
            margin-left: 10px;
        }
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        text-transform: uppercase;
    }
    // Модификаторы для цвета
    &--disable {
        background: #e6e6e6;
        color: #666666;
    }

    &--light {
        background: transparent;
        border: 2px solid $border-gray;
    }

    &--transparent {
        background-color: transparent;
    }

    &--yellow {
        background-color: $main-yellow;
    }

    &--fb {
        background-color: $fb;
        color: white;
    }

    &--vk {
        background-color: $vk;
        color: white;
    }

    &--yandex {
        background-color: $yandex;
    }

    &--white {
        background-color: white;
    }
    // Модификаторы для размера
    &--small {
        height: 36px;
        padding-left: 16px;
        padding-right: 16px;
    }

    &--medium {
        display: flex;
        justify-content: center;
        width: 122px;

        &.button--disable {
            background: transparent;
            color: rgba(0, 0, 0, 0.24);
        }
    }

    &--max-width {
        padding: 0;
        width: 100%;
        justify-content: center;
    }
}
