@import "../../variables";

.button {
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 48px;
    border: 0;
    border-radius: 4px;
    outline-color: yellow;
    &__wrap {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    &__text {
        * + & {
            margin-left: 10px;
        }
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }
    //TODO убрать important, когда уберем инлайненные стили
    &--light {
        background: transparent!important;
        border: 2px solid $border-gray;
        color: #000;
    }
    &--disable {
        background: #e6e6e6!important;
        color: #666;
    }
    &--small {
        height: 36px;
        padding-left: 16px;
        padding-right: 16px;
    }
    &--medium {
        display: flex;
        justify-content: center;
        width: 122px;
        color: #000;
        &.button--disable {
            background: transparent!important;
            color: rgba(0, 0, 0, 0.24);
        }
    }
    &--max-width {
        padding: 0;
        width: 100%;
        justify-content: center;
    }
}
