.search-container {
    padding-top: 56px;
}

.search-result__empty-block {
    padding: 16px;
    text-align: center;
    > .button {
        margin: auto;
    }
}

.search-result__message {
    font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #777777;
}

.search-result__info {
    display: flex;
    flex-direction: column;
}

.search-result__count {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 18px 12px 18px;
    width: 100%;
    > p {
        margin: 0;
        color: #949494;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.search-result__list {
    display: flex;
    flex-direction: column;
    width: 100%;
}