.user__info {
    text-align: center;
    padding-bottom: 16px;
    .user__avatar {
        width: 120px;
        height: 120px;
    }
}

.user__name {
    text-align: center;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 2px;
}
.user__description {
    font-size: 14px;
	color: #949494;
}