.hash-tape {
    overflow-x: auto;
    padding: 25px;
    display: block;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    
    &::-webkit-scrollbar {
        display: none;
    }
}
