.add-comment {
    &__limited-textarea {
        padding-top: 80px;
        height: 100vh;
        display: flex;
        width: 100%;

        > * {
            display: flex;
            width: 100%;
            padding-top: 30px;
        }
    }
}
