.search-container {
    display: flex;
    flex: 1;
    align-items: center;
}

.search-result__empty-block {
    padding: 16px;
    text-align: center;
    > .button {
        margin: auto;
    }
}

.search-result__message {
    font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #777777;
}