.user__avatar {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    &--no-photo {
        svg {
            border-radius: 50%;
        }
    }
}

.user__photo {
    display: block;
}
