.onboarding-image-slide {
    &__slide {
        margin-top: 22vh;
        padding: 0 10vw;
        min-width: 100%;
        text-align: center;
    }

    &__image {
        margin-bottom: 8vh;
    }

    &__title {
        font-size: 20px;
    }

    &__text {
        line-height: 18px;
        font-size: 14px;
        color: gray;
    }
}