.feed-container {
    display: flex;
    flex-direction: column;
    .hash-tape {
        padding: 0 20px;
        display: block;
        white-space: nowrap;
    }
}

.hash-tape__container {
    max-width: 100%;
}
