.hash-tag {
    display: inline-block;
    margin-right: 8px;
    padding: 0 15px;
    min-width: 85px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    background-color: #414141;
    color: #ffffff;

    &:last-child {
        margin-right: 0;
    }

    &--small {
        min-width: 0;
        color: #ffffff;
        height: 25px;
        font-size: 12px;
        line-height: 24px;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: none;
    }

    &__count {
        min-width: 0;
        padding: 0 10px;
    }
}
