@import "../../../variables";

.collection-detail-card {
    position: relative;
    height: 250px;
    padding-top: 56px;
    overflow: hidden;

    &__img {
        background-color: $blue;
        transform: scale(1.1);
        background-size: cover;
        height: 250px;
        z-index: -2;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        filter: blur(10px);
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 196px;
        padding: 0 20px 20px;
    }

    &__title {
        max-height: 100px;
        overflow: hidden;
        color: #fff;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.collection-detail-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    &__add-link {
        display: flex;
        justify-content: center;
        width: 90px;
        height: 48px;
        background-color: transparent;
        border: 2px solid $border-gray;
        border-radius: 4px;

        svg:first-of-type {
            margin-right: 5px;
        }
    }
}