@import "../../../variables.scss";

.create-empty-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 56px;
    box-shadow: 0 0 13px 0 rgba(0,0,0, .3);
    &__title {
        margin-right: auto;
        margin-left: 28px;
        font-weight: 600;
    }
    &__submit {
        padding: 0 16px;
        height: 36px;
        line-height: 40px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .03em;
        border-radius: 4px;
        background-color: $ligh-gray;
        color: $dark-gray;
        text-transform: uppercase;
    }
}