.link-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    min-height: 384px;
    border-radius: 10px;
    padding: 16px 12px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0.35) 94%);
        z-index: 1;
        border-radius: 10px;
    }

    &__user {
        display: flex;
        align-content: center;
    }

    &__user-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 6px;
    }

    &__user-name {
        font-size: 14px;
        color: #ffffff;
        margin: 0;
    }

    &__user-rating {
        margin: 0;
        font-size: 8px;
        font-weight: 500;
        color: #ffffff;
    }

    &__title {
        max-height: 120px;
        display: block;
        display: -webkit-box;
        margin: 12px 0;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #ffffff;
    }

    &__favicon {
        height: 20px;
        max-height: 20px;
    }

    &__block {
        display: flex;
        align-items: center;
        color: #ffffff;

        & > span {
            margin-left: 5px;
        }
    }

    button {
        margin-bottom: 40px;
        z-index: 2;
    }

    &__header {
        z-index: 4;
        display: flex;
        justify-content: space-between;
    }

    &__body {
        z-index: 2;
        flex: 1;
        position: relative;
    }

    &__comment {
        background-color: #ffffff;
        color: #000000;
        margin: 0;
        padding: 16px;
        width: 225px;
        position: absolute;
        top: 55%;
        right: -12px;

        > p {
            display: flex;
            display: -webkit-box;
            margin: 0;
            padding: 0;
            font-size: 14px;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            > span {
                margin-left: 5px;
            }
        }

        &::before {
            content: "‘‘";
            color: #ffe200;
            font-size: 70px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 16px;
            transform: translateY(-30%);
        }
    }

    &__comment-edit {
        display: inline-flex;
        margin-left: 5px;
    }

    &__footer {
        z-index: 2;
        display: flex;
        justify-content: space-between;

        &--transparent {
            opacity: 0.3;
        }
    }
}
