@import "../../variables";

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    z-index: 999;
    border: none;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    background-color: $main-yellow;

    > * {
        margin: auto;
    }
}
