.hash-tag {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 0 15px;
    min-width: 85px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    &:last-child {
        margin-right: 0;
    }
    &--small {
        height: 24px;
        font-size: 12px;
        line-height: 24px;
    }
    &__text {
        color: white;
    }
}