.hash-tag {
    display: inline-block;
    padding: 0 15px;
    min-width: 85px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    &--small {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    &__text {
        font-size: 14px;
        color: white;
    }
    & + .hash-tag {
        margin-left: 8px;
    }
}