@import '../../../variables';

.tab__item {
    display: inline-block;
}

.tab__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: #949494;
    font-size: 12px;
    padding: 9px 0;
    font-weight: 500;
    &:hover {
        text-decoration: none;
    }
    &--active {
        color: #000;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            display: block;
            height: 3px;
            width: 100%;
            background-color: $main-yellow;
        }
    }
}
