@import "../../variables.scss";

.onboarding {
    height: 100vh;

    &__skip {
        position: absolute;
        top: 30px;
        left: 20px;
    }

    &__link {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        &--inactive {
            color: gray;
            pointer-events: none;
        }
    }
}

.onboarding-slider {
    overflow: hidden;

    &__track {
        display: flex;
        transform: translateX(0);
        touch-action: pan-y;
        will-change: transform;
        transition: transform .3s;
    }

    &__prev,
    &__next {
        position: absolute;
        bottom: 50px;
        border: none;
        background-color: transparent;
    }

    &__prev {
        left: 20px;
    }

    &__next {
        right: 20px;
    }

    &__pagination-wrapper {
        position: absolute;
        right: 85px;
        bottom: 50px;
        left: 85px;
        text-align: center;
    }

    &__pagination-item {
        display: inline-block;
        margin: 3px 4px;
        width: 8px;
        height: 8px;
        background-color: lightgray;
        border-radius: 50%;
        &--active {
            box-shadow: 0 0 0 1px $main-yellow;
            background-color: $main-yellow;
        }
    }
}