.collection-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    background-position: center!important;
    background-size: cover!important;

    &__header {
        z-index: 2;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.10) 69%, rgba(0, 0, 0, 0.30) 100%);
        z-index: 1;
        border-radius: 10px;
    }

    &__title {
        margin: 10px 0 10px;
        color: white;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        height: 20px;
        background-color: inherit;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        box-shadow: inherit;
    }

    &:before {
        width: 90%;
        bottom: -20px;
        z-index: -2;
        filter: brightness(90%);
    }

    &:after {
        width: 95%;
        bottom: -10px;
        filter: brightness(95%);
        z-index: -1;
    }
}

.collection-card-footer {
    z-index: 2;
    display: flex;
    justify-content: space-between;

    &__user {
        display: flex;
        align-content: center;
        width: 50%;
    }

    &__user-name {
        display: inline-block;
        align-items: center;
        margin-left: 8px;
        color: #fff;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 25px;
    }

    &__actions {
        display: flex;
        color: #fff;
        width: 50%;
        justify-content: flex-end;
    }

    &__link-action {
        margin-right: 20px;
    }

    &__save-action, &__link-action {
        display: flex;
        align-items: center;

        & > span {
            margin-left: 5px;
        }
    }
}
