.home-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 113px 0 80px 0;

    &__tape {
        margin: 25px 0;
        width: 100%;
    }

    &__collection-card {
        width: 100%;
        max-width: 370px;
        height: 320px;
        padding: 0 25px;

        &:not(:first-child) {
            margin-top: 25px;
        }
    }

    &__tape + &__collection-card {
        margin-top: 0;
    }
}
