.collection-detail-header {
    height: 56px;
    &--fixed {
        background-color: #fff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 100%;
    }

    &__block {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__title {
        font-weight: 500;
        margin-left: 25px;
    }
}
