.authorization {
    &__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
        padding: 0 20px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 50px);
        padding: 0 20px 20px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__description-text {
        padding: 25px 0 70px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #777777;
    }

    &__actions button {
        margin-bottom: 15px;
    }
}
