.list-group {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
    > * {
        display: block;
        border-bottom: 1px solid #e0e0e0;
        text-decoration: none;
    }
}