*,
*:before,
*:after
{
    box-sizing: border-box;
}
body,
html {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 100%;
    font-family: 'Yandex Sans Text', Arial;
}

h1, h2, h3, h4 {
    margin: 0;
}

// Заголовки подборок ("Скейтбординг для новичков")
h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
}

// Заголовки ссылок
h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

// Заголовки в плашках в хэддере
h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
}

// Заголовки маленьких карточек подборок (в поиске и ЛК)
h5 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

#app {
    height: 100%;
}
