// colors

$main-yellow: #ffe200;
$blue: #0476fc;
$light-blue: #1672ff;
$dark-blue: #0045cb;
$card-blue: #0055ff;
$dark-gray: #5c5c5c;
$gray: #b1b1b1;
$light-gray: #e4e4e4;
$border-gray: #d3d3d3;

:export {
    mainYellow: $main-yellow;
    blue: $blue;
    lightBlue: $light-blue;
    darkBlue: $dark-blue;
    cardBlue: $card-blue;
    darkGray: $dark-gray;
    lightGray: $light-gray;
    border-gray: $border-gray;
    gray: $gray;
}