// colors

$main-yellow: #ffe200;
$blue: #0476fc;
$light-blue: #1672ff;
$dark-blue: #0045cb;
$card-blue: #0055ff;
$dark-gray: #5c5c5c;
$ligh-gray: #e4e4e4;

:export {
    mainYellow: $main-yellow;
    blue: $blue;
    lightBlue: $light-blue;
    darkBlue: $dark-blue;
    cardBlue: $card-blue;
}