.user__avatar {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 24px;
    height: 24px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
}

.user__photo {
    display: block;
}