.user__avatar {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.user__photo {
    display: block;
}
