.creating-successfully {
    &__button-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 70px;
    }

    &__collection-card-wrapper {
        margin: 40px 20px;
    }
}
