.link-preview__header {
    height: 56px;
    background-color: #000000;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 100%;
    }

    &-block {
        display: flex;
        align-items: center;
        height: 100%;
    }
}
